<div class="eqLogic-widget" style="background-color: #background_color#" data-eqLogic_id="#id#" >
    <center><strong><a href="#eqLink#" style="font-size : 1.1em;"> #name# </a></strong></center>
	<div style="margin:0px;padding:0px;font-size:12px;height:130px;width:260px;">
		<div style="position:absolute;margin-left:6px;margin-top:5px;">#namedistri#</div>
		<div style="position:absolute;margin-left:6px;margin-top:25px;">#uptime#</div>
		<div style="position:absolute;margin-left:6px;margin-top:45px;">#loadavg#</div>
		<div style="position:absolute;margin-left:6px;margin-top:65px;">#hddtotal#</div>
		<div style="position:absolute;margin-left:100px;margin-top:65px;">#hddused#</div>
		<div style="position:absolute;margin-left:6px;margin-top:85px;">#cpu#</div>
	</div>
</div>


